# If you want to change the port, set it here (default is 8080).
PORT=8080

# Hide Radios Section
# If enabled, the user will not be able to access the radios page.
SHOW_RADIOS_SECTION=false

# Specify the server type
# Used by the app to adjust some features and improve usability based on the server
# Possible values: subsonic | navidrome | lms
SERVER_TYPE=subsonic
